<!DOCTYPE html>
<html>
    <head>
        <!-- Title -->
        <title>
            CAT Return of Investment checker
        </title>
        <h1 class="modal-header">
            iQuanta College ROI Checker
            <br>
        </h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
         <div class="container">
          <h4>
            Enter Your Details
          </h4>

          <form action = "" method = "post" class="form-group">
              {% csrf_token %}
              <div class="mb-3">
                  {% csrf_token %}
                  <label for="full_name" class="form-label" >Name</label>
                  <input type="text" name="Name" class="form-control" id="full_name" placeholder="name" required>
              </div>
            <div>
              <label for="fees">Max Fees</label>
              <input type="range" name="fees" class="form-control-range" id="fees" onInput="$('#range_fees').html($(this).val())" min="200000" max="5000000" step="100000" required>
              <span id="range_fees">500000<!-- Default value --></span>
            </div>
            <div>
              <label for="package">Min Average Package</label>
              <input type="range" name="package" class="form-control-range" id="package" onInput="$('#range_package').html($(this).val())" min="200000" max="5000000" step="100000" required>
              <span id="range_package">1000000<!-- Default value --></span>
            </div>
            <input type="submit" value="Submit">
          </form>

        </div>
        <div class="container">
            {% if clg != None %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Fees</th>
                      <th scope="col">Average Package</th>
                      <th scope="col">Median Package</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in clg %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ c.name }}</td>
                      <td>{{ c.fees }}</td>
                      <td>{{ c.average}}</td>
                      <td> {{ c.median }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
        </div>

    </body>
</html>